<div class="main-header">
     <div class="title_image">
         <img src="https://scontent.fceb1-1.fna.fbcdn.net/v/t1.6435-9/220918439_2838718189714757_3932153931020374422_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeHq9mYTajx6xjva8NBZ28HXgYF2f8NJs7WBgXZ_w0mztdhdW11-TpmakbEi9biyvO83gF7ns-dUgfavpcq119_H&_nc_ohc=LE1eTXddJAUAX-PyLZb&_nc_oc=AQlcnAB2yLPpb0aJBM-w__Qkhib8GzT-Q_0EmBq4Jlw8rZ48nQE5LEbLha1FCvsAqSM&_nc_ht=scontent.fceb1-1.fna&oh=e0d5a9b3804b3924e0d3914170713333&oe=6176A0B1" alt="">
         <h1>PORTFOLIO</h1>
    </div>
</div>
