<app-header></app-header>
<p class="hidden">This website is available on Desktop site. plss turn on</p>
<div class="main-container">
  
  <div class="aboutme">
    <h3>About me</h3>
    <p>I'm leny palacio, I'm 33 years old ,a student in Eastern visayas state university, I studied bachelor of science in information technology and at a same time a mother of two kids ages10 and 12 years old. My dream in life is to finish my degree and to become a successful someday and to learn more about programming even though it's hard sometimes that being a mother and a student also and my want is my kids is to finish their studies too My hobbies in life is watching movie, and reading books planting flowers and listening some music. My likes is good attitude.. My weakness is that sometimes I cant catch up my lesson in school, that because it's hard to understand sometimes, but even though it's hard I am learning about programming and that is why I want this course because I want to learn more about technology. That's all</p>
  </div>
  <div class="myprofile">
     <div class="my-picture">
         <img src="https://scontent.fceb1-1.fna.fbcdn.net/v/t1.6435-9/220918439_2838718189714757_3932153931020374422_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeHq9mYTajx6xjva8NBZ28HXgYF2f8NJs7WBgXZ_w0mztdhdW11-TpmakbEi9biyvO83gF7ns-dUgfavpcq119_H&_nc_ohc=LE1eTXddJAUAX-PyLZb&_nc_oc=AQlcnAB2yLPpb0aJBM-w__Qkhib8GzT-Q_0EmBq4Jlw8rZ48nQE5LEbLha1FCvsAqSM&_nc_ht=scontent.fceb1-1.fna&oh=e0d5a9b3804b3924e0d3914170713333&oe=6176A0B1" alt="">
     </div>
     <div class="my-name">
         <h2>Leny Palin Palacio <sub>33 years old </sub></h2>
         
     </div>
  </div>
  <br><br><br><br><br>
  <div class="project">
    <h3>Project</h3>
    <div class="img-cont">
        <img src="https://www.codester.com/static/uploads/items/000/010/10419/preview/009.jpg" alt="">
        <p>Shop system</p>
        <sub>This system is not uploaded or publish in any hosting site</sub>
        <div class="visit">
             <a href="#">Visit</a>
        </div>
        
    </div>
</div>
</div>
<app-footer></app-footer>
